

    .profilePic {
        height: 15rem;
        width: 15rem;
        border: 1px solid #888;
        border-radius: 10rem;
        //background-color: grey;
        //opacity: 1 !important;
        margin: 1em;
        background-image: url('selfie5_sm_bw.jpg');
        background-size: 250px 250px;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-top: -1em;
    }
    
    i {
        margin: 15px;
        color: grayscale($color: #999999);
    }

